In [1]:
import requests
import bs4
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from tqdm import tqdm
from random import randint
from time import sleep

In [2]:
def find_salary2(result):
    try:
        return result.find(class_='salary-snippet').text
    except:
        return np.nan

In [3]:
def find_job_title(result):
    try: 
        return result.find(class_='jobTitle').text
    except:
        return np.nan

In [4]:
def find_company_name(result):
    try:
        return result.find(class_='companyName').text
    except: 
        return np.nan

In [5]:
def find_company_location(result):
    try:
        return result.find(class_='companyLocation').text
    except: 
        return np.nan

In [6]:
def find_job_snippet(result):
    try:
        return result.find(class_='job-snippet').text.strip('\n')
    except:
        return np.nan

In [7]:
job_title = []
company_name = []
company_location = []
salary = []
snippet = []

In [8]:
# Finding information: 
for start in tqdm(range(0, 3408, 10)):
    url = "https://uk.indeed.com/jobs?q=Data%20Science%20Remote&l=United%20Kingdom&start={}".format(start)
    r = requests.get(url)

    sleep(randint(10,30))
    
    soup = BeautifulSoup(r.text, 'html.parser')
    
    for i in soup.find_all('div', class_='job_seen_beacon'):
        job_title.append(find_job_title(i))
        company_name.append(find_company_name(i))
        company_location.append(find_company_location(i))
        salary.append(find_salary2(i))
        snippet.append(find_job_snippet(i))

100%|██████████| 341/341 [2:00:24<00:00, 21.18s/it]

In [9]:
UK_remote = pd.DataFrame(list(zip(job_title, company_name, company_location, salary, snippet)),
               columns =['job_title', 'company_name', 'company_location', 'salary','job_snippet'])

In [11]:
UK_remote_no_dups = UK_remote.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
UK_remote_no_dups.count()

job_title           1106
company_name        1105
company_location    1106
salary               373
job_snippet         1106
dtype: int64

In [12]:
UK_remote_no_dups.to_csv('UK_remote.csv')